<!DOCTYPE html>
<html>
<head>
	<title>Dojo Secrets</title>
</head>
<body>
<h1>Hello, {{user.f_n}} !</h1>
<a href="/logout">Logout</a>
<br>
<br>
<form action="/post" method="post">
{% csrf_token %}
	<textarea name="secret">Your secret here...</textarea>
	<input type="submit" value="Post">
</form>
{% if messages %}
    {% for message in messages %}
    <h1 style="background-color: red">{{ message }}</h1>
 	{% endfor %}
{% endif %}
<a href="/secrets/">Most Popular Secrets</a>
<h1>Recent Secrets</h1>
{% for secret in secrets %}
{% if user == secret.author %}
<p>{{secret.content}} ({{secret.created_at|timesince}} ago) {{secret.num_likes}}  likes <a href="/delete/{{secret.id}}/sec">Delete</a></p>
{% elif user in secret.likes.all %}
<p>{{secret.content}} ({{secret.created_at|timesince}} ago) {{secret.num_likes}}  likes <strong>You liked this</strong></p>
{% else %}
<p>{{secret.content}} ({{secret.created_at|timesince}} ago) {{secret.num_likes}}  likes <a href="/like/{{secret.id}}/sec">Like</a></p>
{% endif%}
{% endfor %}
</body>
</html>